:root {
  --radius: 0.625rem;

  --bg: var(--color-white);
  --fg: var(--color-zinc-950);

  --card: oklch(1 0 0);
  --card-fg: oklch(0.21 0.006 285.885);

  --primary: var(--color-blue-700);
  --primary-fg: var(--color-white);

  --primary-subtle: color-mix(in srgb, var(--color-blue-500) 15%, transparent);
  --primary-subtle-fg: var(--color-blue-700);

  --secondary: var(--color-zinc-100);
  --secondary-fg: var(--color-zinc-950);

  --overlay: var(--color-white);
  --overlay-fg: var(--color-zinc-950);

  --accent: oklch(0.92 0.004 286.32);
  --accent-fg: oklch(0.141 0.005 285.823);

  --muted: var(--color-zinc-100);
  --muted-fg: var(--color-zinc-600);

  --success: var(--color-emerald-700);
  --success-fg: var(--color-white);
  --success-subtle: color-mix(in srgb, var(--color-emerald-500) 15%, transparent);
  --success-subtle-fg: var(--color-emerald-700);

  --info: var(--color-sky-500);
  --info-fg: var(--color-white);
  --info-subtle: color-mix(in srgb, var(--color-sky-500) 15%, transparent);
  --info-subtle-fg: var(--color-sky-700);

  --warning: var(--color-amber-400);
  --warning-fg: var(--color-amber-950);
  --warning-subtle: color-mix(in srgb, var(--color-amber-500) 20%, transparent);
  --warning-subtle-fg: var(--color-amber-800);

  --danger: var(--color-red-600);
  --danger-fg: var(--color-white);
  --danger-subtle: color-mix(in srgb, var(--color-red-500) 15%, transparent);
  --danger-subtle-fg: var(--color-red-700);

  --border: var(--color-zinc-300);
  --input: var(--color-zinc-300);
  --ring: var(--primary);

  --navbar: oklch(0.988 0 0);
  --navbar-fg: var(--color-zinc-950);

  --sidebar: oklch(0.985 0 0);
  --sidebar-fg: oklch(0.141 0.005 285.823);

  --sidebar-primary: var(--primary-subtle);
  --sidebar-primary-fg: var(--primary-subtle-fg);
  --sidebar-accent: oklch(0.92 0.004 286.32);
  --sidebar-accent-fg: oklch(0.141 0.005 285.823);
  --sidebar-border: oklch(0.901 0.006 286.286);
  --sidebar-ring: oklch(0.546 0.245 262.881);

  --chart-1: oklch(0.546 0.245 262.881);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.707 0.165 254.624);
  --chart-4: oklch(0.809 0.105 251.813);
  --chart-5: oklch(0.882 0.059 254.128);

  ::selection {
    background-color: var(--color-primary-subtle);
    color: var(--color-primary-subtle-fg);
  }
}

.dark {
  --bg: var(--color-zinc-950);
  --fg: var(--color-zinc-50);

  --card: oklch(0.21 0.006 285.885);
  --card-fg: oklch(0.985 0 0);

  --primary: oklch(0.546 0.245 262.881);
  --primary-fg: oklch(1 0 0);

  --primary-subtle: color-mix(in srgb, var(--color-blue-500) 10%, transparent);
  --primary-subtle-fg: var(--color-blue-400);

  --secondary: var(--color-zinc-800);
  --secondary-fg: var(--color-zinc-50);

  --accent: oklch(0.32 0.013 285.805);
  --accent-fg: oklch(0.985 0 0);

  --muted: var(--color-zinc-900);
  --muted-fg: var(--color-zinc-400);

  --overlay: oklch(0.234 0.006 286.033);
  --overlay-fg: var(--color-zinc-50);

  --success: var(--color-emerald-600);
  --success-fg: var(--color-white);
  --success-subtle: color-mix(in srgb, var(--color-emerald-500) 10%, transparent);
  --success-subtle-fg: var(--color-emerald-400);

  --info: var(--color-sky-500);
  --info-fg: var(--color-white);
  --info-subtle: color-mix(in srgb, var(--color-sky-500) 15%, transparent);
  --info-subtle-fg: var(--color-sky-300);

  --warning: var(--color-amber-400);
  --warning-fg: var(--color-amber-950);
  --warning-subtle: color-mix(in srgb, var(--color-amber-500) 10%, transparent);
  --warning-subtle-fg: var(--color-amber-400);

  --danger: var(--color-red-600);
  --danger-fg: var(--color-red-50);
  --danger-subtle: color-mix(in srgb, var(--color-red-500) 10%, transparent);
  --danger-subtle-fg: var(--color-red-400);

  --border: oklch(0.3 0.013 285.805);
  --input: oklch(0.31 0.013 285.805);

  --navbar: oklch(0.17 0.006 285.885);
  --navbar-fg: var(--color-zinc-50);

  --sidebar: oklch(0.18 0.006 285.885);
  --sidebar-fg: oklch(0.985 0 0);
  --sidebar-primary: var(--primary-subtle);
  --sidebar-primary-fg: var(--primary-subtle-fg);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-fg: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.546 0.245 262.881);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.707 0.165 254.624);
  --chart-4: oklch(0.809 0.105 251.813);
  --chart-5: oklch(0.882 0.059 254.128);
}
